@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<BrandViewModel>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Бренды</h1>
<p class="mb-4">
    Таблица со всеми брендами
</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a class="btn btn-danger font-weight-bold" id="addBrand" asp-action="Add">Добавить</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Изображение</th>
                        <th>Количество</th>
                        <th>Сортировка</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Наименование</th>
                        <th>Изображение</th>
                        <th>Количество</th>
                        <th>Сортировка</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><a id="brandsedit" class="pointerlink" asp-action="Edit" asp-route-id=@item.Id>@item.Name</a></td>
                            <td>
                                <img src="@item.BrandImage?.Path" class="img-size-100px" alt="@item.BrandImage?.Name">
                            </td>
                            <td>@item.Number</td>
                            <td>@item.Sorting</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>